.tab-timer
    position: absolute
    width: 10px
    height: 10px
    top: 0
    left: 0
    pointer-events: none
    font-family: roboto, arial

    .indicator
        pointer-events: none
        position: fixed
        z-index: 10000
        top: 0
        right: 0
        font-size: 8px
        color: white
        background: black
        opacity: 70%

        &.paused
            color: yellow

    .timer-window
        --initial-border-color: #621f1f

        pointer-events: auto
        position: fixed
        z-index: 1000
        bottom: 10px
        right: 10px
        width: 330px
        height: 305px
        border: 7px solid var(--initial-border-color)
        padding: 5px 10px
        box-sizing: border-box
        background: #742c2c
        color: white
        border-radius: 10px

        .timer-zone
            margin-bottom: 7px

            .label
                font-size: 12px
                margin: 0
                margin-bottom: 1px

            .timer
                font-size: 24px
                font-weight: 500
                background: #570f0f8f
                padding: 2px 5px
                border-radius: 4px

        .mini-stat
            display: inline-block
            margin-right: 10px
            margin-bottom: 10px

            p
                line-height: 1.3

                &.title
                    font-size: 12px

                &.value
                    font-size: 14px
                    font-weight: 500

        .button-zone
            line-height: 1.2

            .button-row
                display: flex

            .button-22
                font-size: 14px
                font-weight: 500
                background: #29171778
                padding: 7px 0
                text-align: center
                border-radius: 17px
                margin-bottom: 4px
                user-select: none
                cursor: pointer

                &.half
                    flex: 1

                    &.first
                        margin-right: 10px

                &:hover
                    background: #2912124d

                &:active
                    background: #291212c2

        &.notifying
            animation: flashing 2s steps(1) infinite

            @keyframes flashing
                0%,49%
                    border-color: var(--initial-border-color)

                50%,100%
                    border-color: #ec165d

        &.hidden
            display: none